
<md-content>

    <div class="intro-text">

        <b>Stay healthy, stay social!</b>

    </div>

    <img class="displayed" src="http://photos2.meetupstatic.com/photos/event/d/8/b/0/600_434035472.jpeg" />

    <des class="intro-des">
        <p><b>Let's Lunch </b>desires to build a healthy and friendly lunch environment.
            We offer an instant and convenient system for users to spend their lovely lunch time with new friends and try out a variety of dishes.
            Meet people with similar food preferences and exchange their home-made lunch! </p>
    </des>

    <section class="intro-section">
        <h1>temp2</h1>
    </section>

</md-content>

