<div ng-controller="locationCtrl">

    <div ng-show="!isLoading">
        <form class=" make-form" layout="row">
            <md-input-container flex="80">
                <input type="text" ng-model="keywords.text" class="input-medium search-query"
                       placeholder="What food to make?" flex ng-keypress="returnKey($event)">
            </md-input-container>
            <md-button class="md-raised md-icon-button md-primary make-search-btn" ng-click="showList()">
                <i class="material-icons">search</i>
            </md-button>
        </form>
    </div>

    <table>
        <tr ng-repeat="x in results">
            <td>Time: {{ x.appDate }}</td>
            <td>{{ x.appTime }}</td>
            <td>User: {{ x.user }}</td>
            <td>Foor: {{ x.food }}</td>
        </tr>
    </table>


</div>