<div>

    <md-progress-circular class="make-circular" ng-show="isLoading" md-mode="indeterminate" md-diameter="84"></md-progress-circular>

    <div ng-show="!isLoading">
        <form class=" make-form" layout="row">
            <md-input-container flex="80">
                <input type="text" ng-model="keywords.text" class="input-medium search-query"
                       placeholder="keywords" flex ng-keypress="returnKey($event)">
                <!--<button type="submit" class="btn" >Search</button>-->
                <!--<p class="help-block">Try for example: "php" or "angularjs" or "asdfg"</p>-->
            </md-input-container>
            <md-button class="md-raised md-icon-button md-primary make-search-btn" ng-click="search()">
                <i class="material-icons">search</i>
            </md-button>
        </form>
    </div>
<pre ng-model="result">
{{result}}
    </pre>

</div>




<!--<script src="../location.js"></script>-->

<!--<div class="container main">-->
    <!--{{helo}}-->
    <!--<form>-->
        <!--<div class="row">-->
            <!--<div id="map_canvas" ui-map="model.myMap" class="map" ui-options="mapOptions">-->
            <!--</div>-->
            <!--<div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row" ng-show="showResult()">-->
            <!--Latitude: {{lat}} <br />-->
            <!--Longitude: {{lng}} <br />-->
            <!--Accuracy: {{accuracy}}-->
        <!--</div>-->
        <!--<div class="row" ng-show="!showResult()">-->
            <!--Error : {{error}}-->
            <!--Error Code: {{error.code}}-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->