md-toolbar {
    background-color: #5cb85c !important;
}

.main-up-bar-tools {
    text-align: center !important;
}

md-sidenav {
    min-width: 0px;
    width: 250px;
}

.main-bottom-bar {
    position: fixed;
    bottom: 0px;
    min-height: 0;
    height: 42px;
}

.main-bottom-bar a {
    margin: 0;
}

.main-bottom-bar i {
    padding-top: 10px;
}

.intro-text {
    text-align: center;
    font-size:130%;
    font-family: 'Bad Script', cursive;
    color:LightSlateGrey ;
}

.intro-des {
    line-height:20px;
    background-color:WhiteSmoke ;
    height:100%;
    width:40%;
    float:left;
    padding:5px;
    font-size:100%;
    font-family: 'Kalam', cursive;
    color:Teal;
}

.intro-section {
    width:45%;
    height:300px;
    float:left;
    padding:10px;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:80%;
    max-height:80%;
}

.app-name {
    text-align: center;
    height:100%;
    width:40%;
    padding:5px;
    font-size:200%;
    font-family: 'Rock Salt', cursive;
    color:white;
}