md-toolbar {
    background-color: #5cb85c !important;
}

.main-up-bar-tools {
    text-align: center !important;
}

.main-bottom-bar {
    position: fixed;
    bottom: 0px;
    min-height: 0;
    height: 42px;
}

.main-bottom-bar a {
    margin: 0;
}

.main-bottom-bar i {
    padding-top: 10px;
}

.intro-text {
    text-align: center;
}

.intro-nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:29%;
    float:left;
    padding:5px;
}

.intro-section {
    width:38%;
    height:300px;
    float:left;
    padding:10px;
}