.make-form button {
    margin-top: 8px !important;
}

.make-circular {
    margin-left: auto;
    margin-right: auto;
}

.make-search-btn button {

    margin-top: 20px;
}

.make-grid-list {
    margin-bottom: 200px;
}

.make-tile-body {
    margin: auto;
}

.pic{
    margin-left: 30%;
    width:33%;
    height:200px;
    display: block;
    padding:10px;
    background-color: transparent;
}

