.intro-profile {
    text-align: center;
    margin-top: 16px;

}

.profile-login-btn {
    margin-top: 1px;
    margin-bottom: 30px;
    height: 50px;

}

.intro-profile > img {
    border-radius: 80%;
}

iframe.video {

    display: block;
    margin: auto;
    height: 450px;
    width: 1200px;
    padding-bottom: 70px;
    background-color:transparent;
}


@media screen and (max-width: 900px) {

    iframe.video{
        display: block;
        max-width:100%;
        width:1400px;
        padding-bottom: 20px;
    }

}



