<div>
    <md-progress-circular class="make-circular" ng-show="isLoading" md-mode="indeterminate" md-diameter="84"></md-progress-circular>



    <div ng-show="!isLoading">

        <div ng-hide="check()"></div>
        <div ng-show="!isFirst">
            <img class="pic" src = "http://pe-wbcm.s3.amazonaws.com/media/1001/recipes.png"  />

        </div>

        <div ng-show="isFirst">
            <img class="small" src = "http://pe-wbcm.s3.amazonaws.com/media/1001/recipes.png" />

        </div>


        <form class=" make-form" layout="row">
            <md-input-container flex="80">
                <input type="text" ng-model="keywords.text" class="input-medium search-query"
                       placeholder="Enter the food you want to make here" flex ng-keypress="returnKey($event)">
            </md-input-container>
            <md-button class="md-raised md-icon-button md-primary make-search-btn" ng-click="search()">
                <i class="material-icons">search</i>
            </md-button>


        </form>


        <md-grid-list
                class="make-grid-list"
                md-cols-xs="2"
                md-cols-sm="3"
                md-cols-md="4"
                md-cols-gt-md="6"
                md-cols-gt-lg="7"
                md-gutter="16px"
                md-gutter-xs="8px"
                md-row-height="160px">

            <!-- tile container -->
            <md-grid-tile ng-repeat="result in results track by $index" class="md-whiteframe-5dp" layout-padding>
                <div class="favorites-tile-container" ng-click="preview(result)" layout="column">

                    <div class="make-tile-body">
                        <img class="make-logo-img" ng-src={{result.image}} align="left" height="100" width="100">
                    </div>
                    <div class="favorites-tile-title">
                        <b>{{::result.label}}</b>
                    </div>
                </div>

            </md-grid-tile>

        </md-grid-list>
    </div>
</div>


