<!DOCTYPE html>
<html lang="en" ng-app="ourApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!--angular material-->
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Over+the+Rainbow&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/profile.css">

</head>
<body ng-controller="appCtrl" ng-cloak>

    <!-- toolbar -->
    <md-toolbar>

        <md-button href="http://localhost:3000/app/index.html?#/" flex>
           <name class="app-name"> <b>LET's LUNCH</b></name>
        </md-button>


    </md-toolbar>

    <!-- views -->
    <md-content ng-view></md-content>

    <md-toolbar class="main-bottom-bar" layout="row">
        <md-button aria-label="Settings" href="#/start" flex>
            <i class="material-icons">touch_app</i>
        </md-button>
        <md-button aria-label="Settings" href="#/make" flex>
            <i class="material-icons">library_books</i>
        </md-button>
        <md-button aria-label="Settings" href="#/history" flex>
            <i class="material-icons">account_balance</i>
        </md-button>
        <md-button  aria-label="Settings" href="#/profile" flex>
            <i class="material-icons">account_box</i>
        </md-button>
    </md-toolbar>

    <!--&lt;!&ndash; sideNav &ndash;&gt;-->
    <!--<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">-->

        <!--<md-toolbar class="md-theme-indigo">-->
            <!--<h1 class="md-toolbar-tools">Menu</h1>-->
        <!--</md-toolbar>-->

        <!--<md-content layout-padding>-->
            <!--<md-list>-->
                <!--<md-list-item ng-repeat="m in menuOptions">-->
                    <!--<md-button aria-label="items" ng-href="#/{{m.name}}" ng-click="closeNav()" flex>{{m.name}}</md-button>-->

                <!--</md-list-item>-->
            <!--</md-list>-->
        <!--</md-content>-->
    <!--</md-sidenav>-->

<!--angular-->
<script type="text/javascript" src="../node_modules/angular/angular.js"></script>

<!--angular material-->
<script type="text/javascript" src="../node_modules/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="../node_modules/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
<script type="text/javascript" src="../node_modules/angular-route/angular-route.js"></script>
<script type="text/javascript" src="../node_modules/ng-facebook/ngFacebook.js"></script>

<!-- app js -->
<script type="text/javascript" src="app.modules.js"></script>
<script type="text/javascript" src="app.controller.js"></script>
<script type="text/javascript" src="templates/intro/intro.js"></script>
<script type="text/javascript" src="templates/profile/profile.js"></script>
<script type="text/javascript" src="templates/history/history.js"></script>
<script type="text/javascript" src="templates/make/make.js"></script>
<script type="text/javascript" src="services/user.service.js"></script>

</body>
</html>